.footer-socials-s {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    -ms-grid-columns: 1.5fr 1.5fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    background-color: transparent;
    color: #fff;
    white-space: normal;
    margin-bottom: 15px;
}

.w-layout-grid-s {
    display: block;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.w-inline-block-s {
   max-width: 100%;
   display: inline-block;
   margin-left: 5px;
   margin-right: 10px;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}