.cookie-banner {
	position: fixed;
	top: 75px;
	left: 20%;
  right: 10%;
  width: 60%;
  padding: 5px 14px;
  display: flex;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.close {
  height: 20px;
  border: none;
  color: black;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
}

.cookie-banner-text {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10px;
  align-items: center;
}
